@import "../../vars";

.mainNavOuterContainer {
  @include lg {
    padding: 100px;
  }
  margin: 0 auto;
  width: 100%;
  max-width: $xl;
  padding: 20px;
}

.mainNavInnerContainer {
  @include md {
    flex-direction: row;
    flex-wrap: wrap;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}
.initContainer {
  top: 100vh;
}
.animateContainerIn {
  top: 0;
  transition: all .5s ease-out;
}
.animateContainerOut {
  top: -100vh;
  transition: all .5s ease-in-out;
}
.siteLogo {
  @include md {
    max-width: 120px;
    width: 50%;
    margin: 0 auto;
  }
  width: 100%;
}
.mainNavBoxLogo {
  @include md {
    display: none;
  }
  width: 90px;
  height: 115px;
  display: block;
  margin: 0 auto 20px;

}

.mainNavBoxThird {
  @include md {
    width: 33%;
    height: $unitHeightDesktop;
  }
  width: 100%;
  height: 100px;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainNavBoxFourth {
  @include md {
    width: 25%;
    height: $unitHeightDesktop;
    max-width: none;
    margin: auto;
  }
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  height: 100px;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactive {
  @include md {
    display: flex;
  }
  display: none;
}
.active {
  @include md {
    margin-bottom: 0;
  }
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  transition: all 0.3s ease;
  &:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid rgba(255, 255, 255, 1);
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: 10%;
  }
  &:hover {
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
    &:before {
      border: 1px solid rgba(255, 255, 255, 0);
    }
  }
}
.initButton {
  opacity: 0;
  transform: scale(0,0);
}

.animateButtonIn {
  opacity: 1;
  transform: scale(1,1);
}
