.edgeBoxContainer {
  /*padding: 20px;
  background-color: #FFFFFF;
  position: relative;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  &:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid rgba(255, 255, 255, 1);
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: 10%;
  }*/
  padding: 20px;
  background: url("../../images/frame.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%
}
